<!DOCTYPE html>
<html>
<head>
  <title>AUKCJA</title>
</head>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if user_signed_in? -%>
    <h2>Hello: <%= current_user.name -%></h2>
    <ul>
      <li>
        <%= link_to 'Edit account', edit_user_registration_path, class: "btn btn-primary"%>
      </li>

      <li>
        <%= link_to 'Browse Events', events_path, class: "btn btn-primary :active"-%>
      </li>
      <li>
        <%= link_to 'My Ads', my_ads_path, class: "btn btn-primary :active"-%>
      </li>
      <li>
        <%= link_to 'Logout', destroy_user_session_path, :method=>'delete', class: "btn btn-warning :active"%>
      </li>
    </ul>
<% else -%>
    <ul>
      <li>
        <%= link_to 'Login', new_user_session_path, class: "btn btn-success"%>
      </li>
      <li>
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary"  %>
      </li>
      <li>
        <%= link_to 'Sign up', new_user_registration_path ,class: "btn btn-success"%>
      </li>

    </ul>
<% end -%>
