<h1>Listing events</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Descitpion</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr></thead>
  <tbody>
  <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= event.location %></td>
        <td><%= link_to 'Show', event %></td>
        <% if event.owner == current_user -%>
            <td><%= link_to 'Edit', edit_event_path(event) %> </td>
          <% end -%>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } if
                        event.owner == current_user %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Event', new_event_path %>

